@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron container" style="margin-top:5vh; margin-bottom: 10vh; width: 100%; justify-content: center; display: flex; flex-direction: column;">
    <h1 style="display:flex; justify-content:center">智誠服飾店進銷存管理系統</h1>
    <img class="img-fluid" src="~/Content/Images/Location.png"/>
    <p style="display:flex; justify-content:center; font-size: 24px" class="lead">智誠服飾店，坐落於中央大學管理學院二館，擁有</p>
    <p style="display:flex; justify-content:center; font-size: 24px; color: red" class="lead">頂級直角肩模特-許智誠教授</p>   
</div>
<div class="row" style="margin-bottom: 10vh;">
    <h1 style="margin-bottom:5vh; display:flex; justify-content:center">公司理念 - 三大不賣</h1>
    <div class="col-md-4">
        <h2>爛的衣服，我們不賣</h2>
        <p style="font-size: 18px">我們的產品絕對經過保證，從紡織上游到下游皆經過智誠教授親自認證與實穿</p>
    </div>
    <div class="col-md-4">
        <h2>智誠不穿，我們不賣</h2>
        <p style="font-size: 18px">俗話說人要衣裝智誠要金裝，頂級模特可不穿衣裝，當然是穿金裝</p>
    </div>
    <div class="col-md-4">
        <h2>你來殺價，我們不賣</h2>
        <p style="font-size: 18px">不可以質疑我們頂級模特的眼光，任何的衣服皆有他值得的價位，殺價可是對於我們模特的不尊重</p>
    </div>
</div>
<div class="container" style="width: 100%; align-items: center; justify-content: center; display: flex; flex-direction: column;">
    <h1 style="display:flex; justify-content:center">頂級模特</h1>
    <img width="60%" style="justify-content: center; display: flex;" src="~/Content/Images/khsu_1.jpg"/>
    <h3>模特 - 許智誠教授</h3>
</div>
